normalize-css()

purp = #524763
//Extended Bootstrap
.text-purple
  color purp

.row-eq-height
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display         flex

.vertical-align
  display flex
  align-items center

.form-horizontal .control-label
  text-align: left;

.form-group
  padding 0 15px

.vertical-title
  vertical-align middle !important
  float none !important

.panel-default
  float left !important
  width 100%

//.s-alert-info, .s-alert-success, .s-alert-warning, .s-alert-error .s-alert-error.s-alert-effect-scale {
//  //background: #bada55;  /* your background color here */
//  //color: #fff  /* your text color here */
//  //background: url("../images/wool-diagonal.png");
//  background-image:
//          linear-gradient(
//                  red, #f06d06
//          );
//
//}

.s-alert-danger,
.s-alert-error {
  color: #a94442;
  background-color: #ebcccc;
  border-color: #a94442;
}

.s-alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}

.s-alert-warning {
  color: #8a6d3b;
  background-color: #faf2cc;
  border-color: #8a6d3b;
}

.s-alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}