normalize-css()

purp = #524763
//Extended Bootstrap
.text-purple
  color purp

.row-eq-height
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display         flex

.vertical-align
  display flex
  align-items center

.form-horizontal .control-label
  text-align: left;

.form-group
  padding 0 15px

.vertical-title
  vertical-align middle !important
  float none !important

.panel-default
  float left !important
  width 100%