<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li><a href="/administration"><i class="fa fa-list-alt fa-inverse"></i>{{t9n 'SideNav.Administration'}}</a></li>
            <li><a href="/check-nodes"><i class="fa fa-list-alt fa-inverse"></i>{{t9n 'SideNav.Search'}}</a></li>
            <li><a href="/check-step"> <i class="fa fa-list-ol"></i>{{t9n 'SideNav.Status'}}</a></li>
            <li><a href="/prediction"> <i class="fa fa fa-calculator"></i> {{t9n 'SideNav.Prediction'}}</a></li>
            <li><a href="/parameters"> <i class="fa fa fa-calculator"></i> Parameter</a></li>
        </ul>
    </nav>
</template>
